* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-image: url("https://cdn.pixabay.com/photo/2018/12/14/23/16/christmas-3876026_960_720.jpg");
}

.main-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.col {
  flex: 1;
  background: #fafafa;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 6px black;
}

.col img {
  width: 100%;
  height: auto;
  display: block;
}

.col-1 {
  background-color: #009246;
}

.col-2 {
  background-color: #ffffff;
}

.col-3 {
  background-color: #ce2b37;
}

.title-div {
  display: flex;
}

h1 {
  background-color: #fafafa;
  display: inline-block;
  font-style: normal;
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 6px black;
}

h2 {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

footer {
  text-align: center;
  margin-top: 60px;
  padding: 20px 0;
  color: #3a3a3a;
  background-color: #c0c0c0;
  font-size: 0.9rem;
}

@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
  }
}

/* NAVIGATION */

.navigation {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.navigation a {
  text-decoration: none;
  color: #eeeeee;
  background: #333333;
  font-weight: bold;
  padding: 8px 14px;
  border-radius: 6px;
  transition: 0.2s;
}

.navigation a:hover {
  background: #eee;
  color: black;
}
